<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_first">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.010645 -0.010486 1.5689E-05"
        rpy="0 0 0" />
      <mass
        value="0.65234" />
      <inertia
        ixx="0.00083423"
        ixy="2.0603E-05"
        ixz="-2.48E-06"
        iyy="0.0018578"
        iyz="4.4884E-07"
        izz="0.0012592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.013047 0.066717 0.00038765"
        rpy="0 0 0" />
      <mass
        value="0.64143" />
      <inertia
        ixx="0.00073553"
        ixy="-0.00025719"
        ixz="-4.7367E-06"
        iyy="0.0012004"
        iyz="2.03E-05"
        izz="0.0012683" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0.011353 -3.912E-05 0.024725"
      rpy="1.5713 0.02012 -0.0058543" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="2.3562"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.11068 0.034869 1.0789E-08"
        rpy="0 0 0" />
      <mass
        value="0.68644" />
      <inertia
        ixx="0.00023475"
        ixy="1.5737E-05"
        ixz="-6.8484E-11"
        iyy="0.0027619"
        iyz="-1.4167E-10"
        izz="0.0026635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 0.088758 0"
      rpy="0 0 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.11005 0.033516 1.9555E-08"
        rpy="0 0 0" />
      <mass
        value="0.7374" />
      <inertia
        ixx="0.00025113"
        ixy="-1.0602E-06"
        ixz="-6.3962E-11"
        iyy="0.0029667"
        iyz="-2.3757E-10"
        izz="0.0028522" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="0.184 0 0"
      rpy="-3.1416 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.049628 -0.0075971 0.0074952"
        rpy="0 0 0" />
      <mass
        value="0.60269" />
      <inertia
        ixx="0.00052062"
        ixy="0.00013803"
        ixz="0.00014077"
        iyy="0.00067664"
        iyz="-6.3687E-05"
        izz="0.00068779" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="0.184 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0603 -0.014918 -1.4257E-09"
        rpy="0 0 0" />
      <mass
        value="0.20932" />
      <inertia
        ixx="8.7973E-05"
        ixy="9.7337E-06"
        ixz="7.554E-13"
        iyy="0.00010977"
        iyz="-3.2835E-13"
        izz="0.00010465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="continuous">
    <origin
      xyz="0.0815 0 0.0025"
      rpy="0 0 -3.1416" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-1.5722E-10 0.016911 -1.5926E-10"
        rpy="0 0 0" />
      <mass
        value="0.027017" />
      <inertia
        ixx="1.0603E-05"
        ixy="8.2392E-15"
        ixz="4.9083E-15"
        iyy="5.8416E-06"
        iyz="5.3079E-14"
        izz="1.0603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_first/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="continuous">
    <origin
      xyz="-0.10372 -0.0105 0"
      rpy="0 1.4536 1.5708" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="2.3562"
      effort="100"
      velocity="1" />
  </joint>
</robot>