<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="miku_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.010645 -0.010486 1.5689E-05"
        rpy="0 0 0" />
      <mass
        value="0.65234" />
      <inertia
        ixx="0.00083423"
        ixy="2.0603E-05"
        ixz="-2.48E-06"
        iyy="0.0018578"
        iyz="4.4884E-07"
        izz="0.0012592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.010197 0.067289 0.00068246"
        rpy="0 0 0" />
      <mass
        value="0.69243" />
      <inertia
        ixx="0.00082897"
        ixy="-0.00021255"
        ixz="-1.0958E-05"
        iyy="0.0013747"
        iyz="1.0531E-05"
        izz="0.0014367" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0.011371 -3.9704E-05 0.025603"
      rpy="1.5507 0.00054808 -1.5767" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="2.3562"
      effort="9"
      velocity="2" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.11068 0.034869 1.069E-08"
        rpy="0 0 0" />
      <mass
        value="0.68644" />
      <inertia
        ixx="0.00023475"
        ixy="1.5737E-05"
        ixz="-6.862E-11"
        iyy="0.0027619"
        iyz="-1.4098E-10"
        izz="0.0026635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0.08788 0"
      rpy="0 0 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="9"
      velocity="2" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.110053650868383 0.0335164692750554 1.94705920449068E-08"
        rpy="0 0 0" />
      <mass
        value="0.737398995126995" />
      <inertia
        ixx="0.000251131834416106"
        ixy="-1.0602383826204E-06"
        ixz="-6.40044512792178E-11"
        iyy="0.00296672370630292"
        iyz="-2.37049058445746E-10"
        izz="0.00285224309005797" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.184 0 0"
      rpy="3.1416 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="9"
      velocity="2" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.049628 -0.0075971 0.0074952"
        rpy="0 0 0" />
      <mass
        value="0.60269" />
      <inertia
        ixx="0.00052062"
        ixy="0.00013803"
        ixz="0.00014077"
        iyy="0.00067664"
        iyz="-6.3687E-05"
        izz="0.00068779" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.184 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="9"
      velocity="2" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0603 -0.014918 -1.3904E-09"
        rpy="0 0 0" />
      <mass
        value="0.20932" />
      <inertia
        ixx="8.7973E-05"
        ixy="9.7337E-06"
        ixz="8.3843E-13"
        iyy="0.00010977"
        iyz="-4.0408E-13"
        izz="0.00010465" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.0815 0 0.0025"
      rpy="0 0 -3.1416" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="9"
      velocity="2" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-1.5722E-10 0.016911 -1.5926E-10"
        rpy="0 0 0" />
      <mass
        value="0.027017" />
      <inertia
        ixx="1.0603E-05"
        ixy="8.2392E-15"
        ixz="4.9083E-15"
        iyy="5.8416E-06"
        iyz="5.3079E-14"
        izz="1.0603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://miku_arm/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="-0.10372 -0.0105 0"
      rpy="-3.1416 0.11723 -1.5708" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="2.3562"
      effort="9"
      velocity="2" />
  </joint>
</robot>